**/.vscode/*
**/.idea/*
**/__pycache__/
**/node_modules/

backend/.env
backend/userConfig/*
backend/userHistory/*
backend/generateSpeech/*
multimodal/.env
multimodal/gesture/model/gesture_recognizer.task
multimodal/audio/SenseVoiceSmall/model.pt
multimodal/audio/tempAudio/*
