**/.vscode/*
**/.idea/*
**/__pycache__/
**/node_modules/

backend/.env
backend/userConfig/*
backend/userHistory/*
backend/generateSpeech/*
backend/multimodal/gesture/model/gesture_recognizer.task
backend/multimodal/audio/SenseVoiceSmall/model.pt
backend/multimodal/audio/tempAudio/*
